/* Background Circle Animation */
@keyframes scale-down-center {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  100% {
    clip-path: circle(0% at 50% 50%);
  }
}

.scale-down-center {
  animation: scale-down-center 1.75s ease-in-out forwards;
}

/* Logo Animation */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-left {
  animation: slide-left 1s ease-in-out forwards;
  animation-delay: 2s;
}
