/* Background Circle Animation */
@keyframes scale-down-center {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  100% {
    clip-path: circle(0% at 50% 50%);
  }
}

.scale-down-center {
  animation: scale-down-center 1.75s ease-in-out forwards;
}

/* Logo Animation - Slide Left */
@keyframes initial-slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5rem);
  }
}

.initial-slide-left {
  animation: initial-slide-left 1s ease-in-out forwards;
  animation-delay: 2s;
}

/* Text Animation - Slide Right */
@keyframes initial-slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.5rem);
    opacity: 1;
  }
}

.initial-slide-right {
  animation: initial-slide-right 1s ease-in-out forwards;
  animation-delay: 3.25s;
  opacity: 0;
}

/* Button Animation */
@keyframes initial-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1.5rem);
    opacity: 1;
  }
}

.initial-slide-up {
  animation: initial-slide-up 1s ease-in-out forwards;
  animation-delay: 4.5s;
  opacity: 0;
}
